<div class="col-12">
  <h1 class="mb-4 pb-3 text-center " style="color: #c3002f;    border-bottom: 2px solid;">Library books </h1>

  <button mat-raised-button color="primary" class="mx-5" data-toggle="modal" data-target="#creatBook">Creat Book</button>

  <div class="row" *ngIf="libraryBook.length >= 1">
    <div *ngFor="let book of libraryBook.reverse(),let index = index" class="col-12 col-sm-3 col-md-3 text-center mb-3">
      <!-- /--------------Detail Book------------------/ -->
      <div class="modal fade" id="detailBook{{index}}">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{book.book.volumeInfo.title }}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="mb-3">
              <a href="book.book.volumeInfo.infoLink" target="_blank">
                <img src="{{ book.book.volumeInfo.imageLinks.smallThumbnail}}" alt="{{book.book.volumeInfo.title}}" class="img-responsive"
                  *ngIf="book.book.volumeInfo.imageLinks.smallThumbnail != null">
                <img src="https://semantic-ui.com/images/wireframe/image.png" alt="{{book.book.volumeInfo.title}}" class="img-responsive"
                  *ngIf="book.book.volumeInfo.imageLinks.smallThumbnail == null">
              </a>
            </div>
            <p class="" style="color:#333">Author: {{book.book.volumeInfo.authors }}</p>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <a href="book.book.volumeInfo.infoLink" target="_blank">
          <img src="{{ book.book.volumeInfo.imageLinks.smallThumbnail}}" alt="{{book.book.volumeInfo.title}}" class="img-responsive"
            *ngIf="book.book.volumeInfo.imageLinks.smallThumbnail != null">
          <img src="https://semantic-ui.com/images/wireframe/image.png" alt="{{book.book.volumeInfo.title}}" class="img-responsive"
            *ngIf="book.book.volumeInfo.imageLinks.smallThumbnail == null">
        </a>
      </div>
      <p class="font-weight-bold" style="color:brown">{{book.book.volumeInfo.title }}</p>
      <p class="" style="color:#333">Author: {{book.book.volumeInfo.authors }}</p>
      <button class="btn btn-primary" (click)="delBook(book.book.id)">Delete</button>
      <button class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#detailBook' + index">Detail</button>
    </div>
  </div>
  <div *ngIf="libraryBook.length ==0">
    
  </div>
</div>


<!-- /--------------Creat book------------------/ -->
<div class="modal fade" id="creatBook">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">CREAT BOOK</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form class="example-form" #signinForm="ngForm">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Book ID" name="bookid" #bookid="ngModel" [(ngModel)]="bookid2" required ngModel pattern="[0-9a-zA-Z]{3,}">
            <mat-error *ngIf="bookid.errors?.pattern &&( bookid.dirty || bookid.touched)">
              Book ID not valid!
            </mat-error>
            <mat-error *ngIf="bookid.errors?.required &&( bookid.dirty || bookid.touched)">
              Book ID not
              <strong>empty!</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Author" name="authors" #authors="ngModel" [(ngModel)]="authors2" required ngModel pattern="[0-9a-zA-Z]{3,}">
            <mat-error *ngIf="authors.errors?.pattern &&( bookid.dirty || bookid.touched)">
              Author not valid!
            </mat-error>
            <mat-error *ngIf="authors.errors?.required &&( bookid.dirty || bookid.touched)">
              Author not
              <strong>empty!</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width mb-3">
            <input matInput placeholder="Title Book" name="title" #title="ngModel" [(ngModel)]="title2" title required ngModel>

            <mat-error *ngIf="title.errors?.required &&( title.dirty || title.touched)">
              Title not
              <strong>empty!</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width mb-3">
            <input matInput placeholder="Description Book" name="description" #description="ngModel" [(ngModel)]="description2" description
              required ngModel>
            <mat-error *ngIf="description.errors?.required &&( description.dirty || description.touched)">
              Description not
              <strong>empty!</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width mb-3">
            <input matInput placeholder="Url image Book" name="image" #image="ngModel" [(ngModel)]="image2" image required ngModel>
            <mat-error *ngIf="image.errors?.required &&( image.dirty || image.touched)">
              Image not
              <strong>empty!</strong>
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="creatBook()" class="mx-5">Creat Book</button>
        </form>
      </div>
    </div>
  </div>
</div>


