<nav class="navbar navbar-expand-md bg-info navbar-dark" style="position: relative;">
  <!-- Brand -->
  <a class="navbar-brand text-light" routerLink="/">ngProject</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/book/search">Search Book</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/book/bookself">Book Self</a>
        </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/chat">Chat</a>
      </li>
    </ul>
    <span class="navbar-text ml-auto">
      <button *ngIf="!authService.account"class="btn btn-success" routerLink="/auth">SignIn/ SignUp</button>
      <button *ngIf="authService.account" class="btn btn-danger" routerLink="/auth" (click)="logout()">Log Out</button>
    </span>
  </div>
</nav>